.butãos{
    margin-left: 295px;
  }
.btn{
    background-color: #fff;
    border:1px solid rgb(228, 228, 228);
    color: #000;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 75px;
    border-radius: 3px;
}

.btn:hover{
    background-color: #b67be6a9;
    border-color:#b67be6a9;
    color: #fff;
}
.titulo{
    font-size: 20px;
    font-weight: bold;
  }
.descrição{
    font-size: 20px;
}